@font-face {
  font-family: 'Figtree';
  src: url("assets/fonts/Figtree-VariableFont_wght.woff2") format('woff2');
  font-weight: 300 900;
}
@font-face {
  font-family: 'Figtree-italic';
  src: url("assets/fonts/Figtree-Italic-VariableFont_wght.woff2") format('woff2');
  font-weight: 300 900;
}
/* Variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #f4d04e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Figtree';
}
body #card {
  width: 16.8rem;
  height: 400px;
  padding: 15px;
  box-shadow: 7px 7px #121212;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #121212;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: transform 1s ease-out;
}
body #card .semi-bold {
  font-weight: 600;
}
body #card .extra-bold {
  font-weight: 900;
}
body #card #illustration {
  border-radius: 10px;
}
body #card #tag {
  background-color: #f4d04e;
  width: fit-content;
  font-size: 0.75rem;
  padding: 6px 10px;
  border-radius: 3px;
  margin-top: 5px;
}
body #card #date {
  color: #121212;
  font-size: 0.75rem;
}
body #card #blog-title {
  font-size: 1.1rem;
}
body #card #summary {
  color: #808080;
  font-size: 0.75rem;
  line-height: 1.2rem;
}
body #card #writer-container {
  display: flex;
  align-items: center;
  gap: 15px;
}
body #card #writer-container #writer-avatar {
  width: 20px;
  height: 20px;
}
body #card #writer-container #writer {
  font-size: 0.75rem;
}
body #card:hover,
body #cardfocus {
  transform: scale(1.1);
}
.attribution {
  width: 90%;
  position: relative;
  top: 50px;
  text-align: center;
  letter-spacing: 2px;
  font-size: 0.75rem;
  font-weight: 600;
  color: #121212;
}
.attribution a {
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  text-decoration: none;
  box-shadow: inset 0 0 0 0;
  color: #121212;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.attribution a:hover,
.attribution a:focus {
  outline: thin dotted;
  color: #121212;
  box-shadow: inset 200px 0 0 0 #fff;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
